body 
  background-color: slategray
h1
  text-align: center


#example
  display: inline-flex
  padding: 25px
#example1
  margin-bottom: 100px
  padding: 40px
#example2
  margin-bottom:100px
  padding: 40px

  
.switch
  display: grid
  place-items: center

.add-weight-button 
  color: black

.add-reps-button 
  color: black

.back-to-top
  color: black

.calculator-card 
  margin: 50px
  padding: 10px
  background-color: silver
  text-align: center
  


.text-card 
  margin: 30px
  padding: 10px
  background-color: silver
  display: flexbox
  text-align: center
  p
    padding: 10px
  
.toggle-math-button
  color: black



.subtract-weight-button
  color: black


.subtract-reps-button 
  color: black

